---
import type { MDXInstance } from "astro";
import type { ArticleFrontmatter } from "../../types/article";
import NoResource from "../NoResource/NoResource.astro";
import PageHeader from "../PageHeader/PageHeader.astro";
import ShortResourceCard from "../ShortResourceCard/ShortResourceCard.astro";
import "./ArticleList.less";

export interface Props {
  title: string;
  resourceType: "projects" | "posts";
}
const { title, resourceType } = Astro.props;

let articles: MDXInstance<ArticleFrontmatter>[] = [];

//NOTE: Glob pattern can't be a var: https://github.com/withastro/astro/issues/3418
switch (resourceType) {
  case "projects":
    articles = await Astro.glob<ArticleFrontmatter>(
      "../../pages/projects/*.mdx",
    );
    break;
  case "posts":
    articles = await Astro.glob<ArticleFrontmatter>("../../pages/blog/*.mdx");
    break;
  default:
    return;
}

let sortedArticles: MDXInstance<ArticleFrontmatter>[] = [];

if (articles.length > 0) {
  sortedArticles = articles
    .filter((a) => !a.file.includes("empty.mdx") && !a.frontmatter.draft)
    .sort(
      (a, b) =>
        Date.parse(b.frontmatter.publishDate) -
        Date.parse(a.frontmatter.publishDate),
    );
}
---

<main class="articles">
  <PageHeader title={title} />
  {
    (sortedArticles.length === 0 && (
      <NoResource resourceType={resourceType} />
    )) || (
      // Not sure why I need this fragment...
      <>
        {sortedArticles.map((proj) => {
          return (
            <article class="article-row">
              <a href={proj.url}>
                <ShortResourceCard
                  title={proj.frontmatter.title}
                  date={proj.frontmatter.publishDate}
                  description={proj.frontmatter.description}
                />
              </a>
            </article>
          );
        })}
      </>
    )
  }
</main>
