---
import type { MDXLayoutProps } from "astro";
import PageHeader from "../../components/PageHeader/PageHeader.astro";
import type { ArticleFrontmatter } from "../../types/article";
import type { Props as LayoutProps } from "../Layout.astro";
import Layout from "../Layout.astro";
import "./ArticleLayout.less";

export type Props = MDXLayoutProps<ArticleFrontmatter> & LayoutProps;

const { frontmatter } = Astro.props;
---

<Layout title={frontmatter.title} description={frontmatter.description}>
  <article class="article">
    <header class="article-header">
      <PageHeader
        date={frontmatter.publishDate}
        title={frontmatter.title}
        subtitle={frontmatter.subtitle}
      />
      {
        frontmatter.thumbnail && (
          <img
            src={frontmatter.thumbnail}
            alt="Thumbnail"
            class:list={[
              "article__thumbnail",
              frontmatter.thumbnailAR
                ? `article__thumbnail--${frontmatter.thumbnailAR}`
                : "article__thumbnail--16-9",
            ]}
          />
        )
      }
    </header>
    <main>
      <slot />
    </main>
  </article>
</Layout>
