---
import { Image } from "@astrojs/image/components";
import "./ResourceCard.less";

export interface Props {
  thumbnail?: string;
  thumbnailAR?: string;
  title: string;
  subtitle?: string;
  description?: string;
}

const { thumbnail, thumbnailAR, title, subtitle, description } = Astro.props;
---

<article class="resource-card-container">
  <div class="resource-card-img-container">
    {
      thumbnail && (
        <Image
          class="resource-card__img"
          style={`aspect-ratio: ${thumbnailAR}`}
          src={thumbnail}
          alt={title}
          width="250"
          aspectRatio={thumbnailAR?.replace("-", "/")}
        />
      )
    }
    <div class="resource-card-titles-container">
      <h1 class="resource-card__title">{title}</h1>
      {subtitle && <h3 class="resource-card__subtitle">{subtitle}</h3>}
    </div>
  </div>
  {
    description && (
      <p title={description} class="resource-card__description">
        {description}
      </p>
    )
  }
</article>
